<%- include('partials/header') %>

    <section class="py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h1 class="display-1 fw-bold text-danger">Error</h1>
                    <h2 class="display-5 mb-4">Something Went Wrong</h2>
                    <p class="lead mb-4">We're sorry, but an error occurred. Please try again later.</p>
                    <a href="/" class="btn btn-primary btn-lg">
                        <i class="fas fa-home me-2"></i>Go Back Home
                    </a>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>

